h1 {
  border: 2px solid black;
  text-align: center;
  margin: 25px;
  color: black;
  background-image: url("index1.jpg");
}
body {
  border: 2px solid black;
}
div {
  margin: 10px;
  text-align: center;
  font-size: 24px;
}
p {
  font-size: 30px;
  color: rgb(30, 89, 138);
  font-family: Arial, Helvetica, sans-serif;
}
.corner {
  font-size: 24px;
  text-align: right;
}
